body {
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(152, 211, 235);
}
h1{
    font-size: 20pt;
    line-height: 20pt;
    text-align: center;
    font-family: 'Helvetica', serif;
}
h2{
    font-size: 16pt;
    line-height: 20pt;
    font-family: 'Helvetica', serif;
}
p, ul {
    font-size: 14pt;
    line-height: 20pt;
    color:rgb(0, 0, 0);
    font-family: 'Helvetica', serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header, article {
    padding: 10px;
}