body {
    background-color: rgb(131, 164, 226);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    font-family: 'Helvetica';
  }

  p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-left: 20px;
    font-family: 'Helvetica';
  }
  
  ul{
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-left: 20px;
    font-family: 'Helvetica';
  }

  a {
      margin-left: 15px;
  }